.fila {
    display: flex;
}

.cuadro {
    width: 20px;
    height: 20px;
    background-color: black;
    border: 1px solid #333;
    margin: 2px;
    cursor: pointer;
}

.cuadro.checked {
    background-color: white;
}

#viewer {
    width: 700px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    margin: auto;
}

.textomedio {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

#formulario {
    width: 40%;
    height: 100%;
    margin: auto;
    padding: 10px;
    background-color: #bdbdbd;
    border-radius: 5px;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

.botones-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    width: 150px;
    height: 50px;
    background-color: blue;
    border-style: none;
    border-radius: 5px;
    color: #fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    transition: all .5s;
    margin: 5px;
}

button:hover {
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
    background-color: blueviolet;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 1px;
}

.header-button {
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
